video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
}

.hero {
  width: 100vw;
  height: 100%;
  position: fixed;
  font-family: "Michroma";
}

.hero__title {
  color: #FFF;
  position: fixed;
  margin: 0 !important;
  bottom: 0;
  padding: 0 0 0.8rem 0.8rem;

  h1 {
    font-size: 6rem;
    letter-spacing: -3px;
    margin: 0;
    text-transform: uppercase;
    @media (min-width: 1150px) {
      padding-left: 2rem;
    }
  }

  @media (max-width: 989px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 2.5rem;
    }
  }
}

.tagline {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 999;
  cursor: pointer;
  font-family: "Michroma";
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.5rem;

  /* font-family: 'Founders grotesk web'; */
  /* letter-spacing: 3px; */
  /* font-weight: 300; */
  /* font-size: 14px; */
}